<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="NewRelic.AppName" value="NrApiDemoConsoleApp"/>
      <add key="NewRelic.AgentEnabled" value="false"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>